.open-azeret-mono {
  font-family: 'Azeret Mono', monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.nav-title {
  font-weight: 128;
  font-size: 33px;
}
nav ul li {
  list-style: none;
}
.dark-1 {
  color: #0d1321;
}
nav ul {
  display: flex;
}
nav {
  display: flex;
}
