.open-azeret-mono {
  font-family: '"Azeret Mono"', monospace;
  font-optical-sizing: auto;
}

.nav-title {
  font-weight: 128;
  font-size: 33px;
}
nav ul li {
  list-style: none;
}
.dark-1 {
  color: #0d1321;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul li {
  padding: 24px;
}
.btn-primary {
  font-weight: 20;
  padding: 5px 10px;
  border-radius: 8px;
}
.banner-profile-photo {
  display: flex;
}
.secondary-bg {
  background-image: url('../assets/Hero-bg.png');
  text-align: center;
  padding: 300px;
}

main {
  margin: 0 auto;
  padding: 130px 150px;
  text-align: center;
}
.ultra-violation {
  color: white;
  background-color: black;
  width: 244;
  height: 65;
  border-radius: 8;
  text-align: center;
}
.button-primary {
  background-color: #0d1321;
  color: #ffffff;
  padding: 21px 24px;
  border-radius: 8px;
  font-size: 15px;
}
.button-close {
}
.banner-title {
  font-weight: 900px;
  font-size: 48px;
}
.banner-greetings {
  font-size: 16px;
  font-weight: lighter;
}
