.open-azeret-mono {
  font-family: '"Azeret Mono"', monospace;
  font-optical-sizing: auto;
}

.nav-title {
  font-weight: 128;
  font-size: 33px;
}
nav ul li {
  list-style: none;
}
.dark-1 {
  color: #0d1321;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul li {
  padding: 24px;
}
.btn-primary {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;

  opacity: 0.8;
}
.banner-profile-photo {
  display: flex;
}
.secondary-bg {
  background-image: url('../assets/Hero-bg.png');
  text-align: center;
  padding: 250px;
}

main {
  margin: 0 auto;
  padding: 130px 150px;
  text-align: center;
}
.ultra-violation {
  color: white;
  background-color: black;
  width: 244;
  height: 65;
  border-radius: 8;
  text-align: center;
}
.button-primary {
  background-color: #0d1321;
  color: #ffffff;
  border-radius: 8px;
  width: 208px;
  height: 66px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner-photo {
  position: absolute;
  width: 240.28px;
  height: 240px;
  top: 10%;
  bottom: 0%;
}
.banner-title {
  font-weight: 900px;
  font-size: 48px;
  padding-left: 200px;
}
.banner-greetings {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

main {
  position: absolute;
  width: 1140px;
  height: 1395px;
  left: 148px;
  right: 152px;
  top: 857px;
  bottom: 2993px;
  position: static;
  width: 852px;
  height: 115px;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
.section-description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.skill-spot {
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 48px 0px;
  box-sizing: border-box;
}
.skills {
  position: static;
  width: 946px;
  height: 1072px;
}
.section-title {
  font-weight: 900px;
  font-size: 48px;
  padding-left: 200px;
}
